//
// Variables
//

$table-border-color: #ddd;
$panel-default-heading-bg: #f5f5f5;
$panel-bg: #fff;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
$font-size-base: 14px;
$input-bg-disabled: #eeeeee;
$input-bg: #fff;
$input-border-focus: #66afe9;

// Hover state
$color: $input-border-focus;
$color-rgba: rgba(red($color), green($color), blue($color), .6);
